body{
  font-family: "Inter", serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
}

.container{
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.content-section_theme_dark{
  background-color: #000;
}

.header{
  display: flex;
  justify-content: space-between;
  min-height: 132px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo{
  display: block;
  width: 80px;
  height: 15px;
}

.header__menu-list{
  list-style: none;
}

.header__menu-item{
  margin-bottom: 12px;
}

.header__menu-link{
  border-bottom: 1px solid;
}

.header__menu-item_active .header__menu-link{
  border: none;
  text-decoration: none;
  cursor: default;
}

.header__menu-item:last-child{
  margin-bottom: 0;
}

.header__menu-link{
  color: #fff;
  font-size: 16px;
}

.main__title{
  padding-top: 7px;
  padding-bottom: 30px;
  background-image: url(/images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover__title{
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  font-style: normal;
  line-height: 1;
  font-optical-sizing: auto;
}

span{
  display: block;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.intro{
  padding-top: 8px;
  padding-bottom: 38px;
  color: #fff;
  font-family: "Inter", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
}

.intro__heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  color: #cccccc;
  line-height: 17px;
}

.intro__title{
  font-weight: 300;
  font-size: 16px;
}

.intro__date{
  white-space: nowrap;
}

.intro__main-text{
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.reasons{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FEE42A;
}

.content-section__subtitle{
  margin-bottom: 32px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  font-style: normal;
  line-height: 115%;
  font-optical-sizing: auto;
}

.content-section__introduction{
  color: #fff;
  color: #131313;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 27px;
}

.content-section__list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  padding-left: 18px;
  line-height: 1.35;
}

.content-section__list-item{
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
}

.content-section__list-accent{
  display: inline-block;
  font-weight: bold;
}

.how-to{
  padding-top: 40px;
}

.how-to .content-section__subtitle{
  color: #fff;
}

.how-to .content-section__introduction{
  color: #fff;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
}